*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
}
.container h1{
    margin-bottom: 10px;
    font-size: 40px;
}
.container p{
    margin-bottom: 40px;
}
table td{
    padding: 4px;
}
input{
    border: none;
    border-bottom: 1px solid green;
    border-right: 1px solid green;
    background-color: #f8d5d5;
    padding:5px;
    border-radius: 3px;
}
.displayHasil{
    width: 180px;
    border-radius: 5px;
    border: 1px solid green;
    text-align: center;
    margin: 10px;
}
select{
    padding: 3px;
    border: none;
    background-color: green;
    border-radius: 3px;
    color: white;
}
#submit{
    background-color: green;
    color: white;
    width: 70px;
    cursor: pointer;
}
label{
    font-size: 18px;
}